/* src/App.css */

/* Ensure box-sizing is border-box for all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Basic global styles */
body 
{
  background-color: 'blue';
  font-family: 'Inter', sans-serif;
  
  width: '1489px';
}

