/* styles.css */

body {
    font-family: 'Inter', sans-serif;
  }
  
  /* Custom Button Styles */
  .custom-button {
    background-color: #F8F8FA;
    color: black;
    text-transform: none;
    box-shadow: none;
    border: 1px solid black;
    border-radius: 20px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .custom-button.active {
    background-color: #E5DEF7;
    color: #7d4bfd;
    border: 2px solid #7d4bfd;
  }
  
  .custom-button:hover {
    background-color: #E5DEF7;
    color: #7d4bfd;
    border: 1px solid #282bfa;
  }
  
  .custom-button.active:hover {
    background-color: #E5DEF7;
    color: #7d4bfd;
    border: 2px solid #7d4bfd;
  }
  
  /* Label and Input Styles */
  .label {
    font-weight: semibold;
    font-family: 'Inter', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 16px;
  }
  
  .input-field {
    width: 270.32px;
    font-family: 'Inter', sans-serif;
  }
  
  /* Responsive Typography Styles */
  .responsive-typography {
    font-size: 48px; /* phones and tablets */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: center;
    font-family: 'Inter', sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @media (min-width: 600px) {
    .responsive-typography {
      font-size: 60px; /* small laptops */
    }
  }
  
  @media (min-width: 1200px) {
    .responsive-typography {
      font-size: 72px; /* desktops */
    }
  }
  
  @media (min-width: 1800px) {
    .responsive-typography {
      font-size: 200px; /* large screens */
    }
  }
  
  /* Additional Styles */
  .responsive-sub-typography {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 28px; /* (36/72.4) * 72.4 = 35.8 rounded to 28px */
    line-height: 2;
    text-align: center;
    background-image: linear-gradient(94.34deg, #666cff 0%, #9bd0f5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @media (min-width: 600px) {
    .responsive-sub-typography {
      font-size: 38px; /* tablets */
    }
  }
  
  @media (min-width: 900px) {
    .responsive-sub-typography {
      font-size: 48px; /* small laptops */
    }
  }
  
  @media (min-width: 1200px) {
    .responsive-sub-typography {
      font-size: 58px; /* desktops */
    }
  }
  
  @media (min-width: 1800px) {
    .responsive-sub-typography {
      font-size: 72.4px; /* large screens */
    }
  }
  
  .text-center {
    text-align: center;
  }
  
  .mb-1 {
    margin-bottom: 1rem;
  }
  
  .mb-2 {
    margin-bottom: 2rem;
  }
  
  .mb-3 {
    margin-bottom: 3rem;
  }
  
  /* Form Control Styles */
  .form-control {
    display: flex;
    flex-direction: column;
  }
  
  .form-control-label {
    font-weight: semibold;
    font-family: 'Inter', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 16px;
  }
  
  .form-control-select {
    width: 600.32px;
    font-family: 'Inter', sans-serif;
  }
  